<h1>Welcome</h1>

<ul class="list-group col-md-2">
  <li class="list-group-item"><%= link_to 'Stations list', admin_railway_stations_path %></li>
  <li class="list-group-item"><%= link_to 'Trains list', admin_trains_path %></li>
  <li class="list-group-item"><%= link_to 'Routes list', admin_routes_path %></li>
  <li class="list-group-item"><%= link_to 'Tickets list', admin_tickets_path %></li>
</ul>
