<h1>Welcome</h1>

<p><%= link_to 'Stations list', railway_stations_path %></p>

<p><%= link_to 'Trains list', trains_path %></p>

<p><%= link_to 'Routes list', routes_path %></p>

<p><%= link_to 'Carriages list', carriages_path %></p>

