<h2>Hello, here is your tickets:</h2>
<ul class="list-group col-md-4">
  <% @tickets.each do |ticket| %>
    <li class="list-group-item">
      <h4>
        <%= link_to "#{ticket.begin_station.title} - #{ticket.end_station.title}", ticket %>
        <%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </h4>
    </li>
  <% end %>
</ul>