<h3>Привет, <%= @user.first_name %></h3>
<h4>Вы купили билет по марш1руту "<%= @ticket.route_name %>"</h4>
<h4>Посмотреть билет вы можете <%= link_to 'здесь', @ticket, target: '_blank' %>"</h4>
<h4>Посмотреть список ваших билетов вы можете <%= link_to 'здесь', tickets_url, target: '_blank' %>"</h4>
