<h4>Привет, <%= @user.first_name %></h4>
<h5>Вы купили билет по маршруту "<%= @ticket.route_name %>"</h5>
<h5>Посмотреть билет вы можете посмотреть <%= link_to 'здесь', @ticket, target: '_blank' %>"</h5>
<h5>Список ваших билетов вы можете посмотреть <%= link_to 'здесь', tickets_url, target: '_blank' %>"</h5>
