<h2>Привет, <%= @user.first_name %></h2>
<h3>Вы удалили билет по маршруту "<%= @ticket.route_name %>"</h3>
<h3>Посмотреть список ваших билетов вы можете <%= link_to 'здесь', tickets_url, target: '_blank' %>"</h3>
